<nav class="sidenav">
    <h3 class="main-title">Chats</h3>
    <section class="sidenav-content">
        <a href="..." class="nav-link">
            <div class="chat-info">
                <div class="chat-avatar"><h5>CP</h5></div>
                <h5 class="main-chat-name">Team Compello</h5>
            </div> 
        </a>
        <section class="nav-group">
            <input id="tabexample2" type="checkbox">
            <label for="tabexample2">
                <div class="chat-info">
                    <div class="chat-avatar"><h5>IP</h5></div>
                    <h5 class="main-chat-name">Internal Projects</h5>
                </div> 
            </label>
            <ul class="nav-list">
                <li><a class="nav-link"><h6 class="secondary-chat-name">General</h6></a></li>
            </ul>
        </section>
        <a href="..." class="nav-link">
            <div class="chat-info">
                <div class="chat-avatar"><h5>SW</h5></div>
                <h5 class="main-chat-name">Team Solwr</h5>
            </div> 
        </a>
        <a href="..." class="nav-link">
            <div class="chat-info">
                <div class="chat-avatar"><h5>NK</h5></div>
                <h5 class="main-chat-name">Team NorKart</h5>
            </div>
        </a>
        <!-- <section class="nav-group collapsible">
            <input id="tabexample1" type="checkbox">
            <label for="tabexample1">Collapsible Nav Element</label>
            <ul class="nav-list">
                <li><a class="nav-link">Link 1</a></li>
                <li><a class="nav-link">Link 2</a></li>
            </ul>
        </section>
        <section class="nav-group">
            <input id="tabexample2" type="checkbox">
            <label for="tabexample2">Default Nav Element</label>
            <ul class="nav-list">
                <li><a class="nav-link">Link 1</a></li>
                <li><a class="nav-link">Link 2</a></li>
                <li><a class="nav-link active" aria-current="page">Link 3</a></li>
                <li><a class="nav-link">Link 4</a></li>
                <li><a class="nav-link">Link 5</a></li>
                <li><a class="nav-link">Link 6</a></li>
            </ul>
        </section> -->
    </section>
</nav>
