.message-input-wrapper {
    .message-input {
        width: 100%;
        padding: 5px 15px;
        border-radius: 3px;
        border: 1px solid rgb(185, 185, 185);

        &:hover, &:focus {
            border: 1px solid grey;
        }
    }

    .icon-set {
        display: flex;
        margin-top: 5px;

        .left {
            display: flex;
            gap: 10px;
        }

        img {
            height: 20px;
            width: 20px;

            &:hover {
                background: #CBD5E1;
            }
        }

        .send-icon {
            margin-left: auto;
        }

        .close-icon {
            height: 20px;
            width: 20px;
            padding: 3px;
        }

        .checkmark-icon {
            margin-left: auto;
            margin-right: 10px;
            height: 21px;
            width: 21px;
            padding: 3px;
        }
    }
}

.clr-form {
    padding: 6px 0;
}