<div class="tab-section-heading">
    <div class="user-details">
        <img src="/assets/avatar.svg" alt="user_avatar" class="user-avatar" />
        <h5 class="user-title">Sanka Gallage</h5>
    </div>
    <clr-tabs>
        
        <clr-tab>
            <button clrTabLink>Posts</button>
        </clr-tab>
    
        <clr-tab>
            <button clrTabLink>Files</button>
        </clr-tab>
    
        <clr-tab>
            <button clrTabLink>Wiki</button>
        </clr-tab>
    
        <clr-tab>
            <button clrTabLink>Back Log</button>
        </clr-tab>
    
    </clr-tabs>
</div>